@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: rgb(50, 50, 50);
  color: white;
  position: relative;
}
body.wrapper {
  outline: 1px solid red;
}
body.wrapper video {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
}
body.wrapper video.hidden {
  display: none;
}
body.wrapper #control-wrapper {
  position: absolute;
  z-index: 2;
  inset: 0;
}
body.wrapper #control-wrapper #control-bar {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  opacity: 0;
}
body.wrapper #control-wrapper #control-bar #track-bar {
  flex-grow: 1;
}
body.wrapper #control-wrapper #control-bar svg,
body.wrapper #control-wrapper #control-bar input {
  cursor: pointer;
}
body.wrapper #control-wrapper #play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  scale: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}
body.wrapper #control-wrapper #play-button :hover {
  transition: scale 150ms;
  scale: 1.1;
}
body.wrapper #control-wrapper #play-button svg :hover {
  scale: 1;
}
body.wrapper #control-wrapper #play-button #start-text {
  font-size: 18px;
  width: -moz-max-content;
  width: max-content;
  font-family: "Poppins", "san-serif";
  font-weight: normal;
}
body.wrapper #control-wrapper #play-button #start-text:hover {
  scale: 1;
}
body.wrapper #options {
  width: clamp(300px, 100%, 900px);
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 1rem;
  translate: -50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 1rem;
  padding-block: 2rem;
}
body.wrapper #options .option {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 275px;
  background-color: black;
  padding: 0.25rem 1rem;
  border-radius: 100px;
  margin: auto;
}
body.wrapper #options .option .option-number {
  min-height: 30px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}
body.wrapper #options .option .option-title {
  font-family: "Poppins", "san-serif";
}
body.wrapper #end-screen {
  position: absolute;
  z-index: 10;
  inset: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
}
body.wrapper #end-screen.show {
  display: grid;
  place-items: center;
}