:root {
     font-size: 16px;
}

*,
*::before,
*::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

html {
     height: 100%;
}

body {
     min-height: 100vh;
     background-color: rgb(50, 50, 50);
     color: white;
     position: relative;

     &.wrapper {
          outline: 1px solid red;
          //   overflow: none;

          video {
               $height: 100vh;
               $width: 100vw;
               height: clamp($height, $height, $height);
               width: clamp($width, $width, $width);
               object-fit: fill;
               position: absolute;
               z-index: 1;

               &.hidden {
                    display: none;
               }
          }

          #control-wrapper {
               position: absolute;
               z-index: 2;
               inset: 0;

               #control-bar {
                    padding: 1rem;
                    display: flex;
                    align-items: flex-start;
                    gap: 1rem;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);

                    #track-bar {
                         flex-grow: 1;
                    }

                    svg,
                    input {
                         cursor: pointer;
                    }
               }

               #play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    cursor: pointer;
                    scale: 1;

                    :hover {
                         transition: scale 300ms;
                         scale: 1.1;
                    }

                    svg :hover {
                         scale: 1;
                    }
               }
          }

          #end-screen {
               position: absolute;
               z-index: 10;
               inset: 0;

               backdrop-filter: blur(10px);
               background-color: rgba(0, 0, 0, 0.25);
               display: none;

               &.show {
                    display: grid;
                    place-items: center;
               }
          }
     }
}
