@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  font-size: 16px;
  font-family: "Poppins";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}